.movies {
  padding: 0 calc(30px + (70 - 30) * (100% - 768px) / (1280 - 768));
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .movies {
  padding: 0 calc(10px + (30 - 10) * (100% - 320px) / (768 - 320));
  }
}
