
.form {
  padding: calc( (100vh - 560px) / 2 ) 0;
  width: 396px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
}

.form__container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  color: #A0A0A0;
  text-align: left;
  justify-content: space-between;
  font-size: 10px;
  line-height: 12px;
}

.form__logo {
  margin: 0;
  width: 38px;
  line-height: 0;
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.form__title {
  text-align: left;
  margin: 40px 0;
  padding: 0;
  color: #000;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.form__elements {
  display: flex;
  flex-direction: column;
}

  .form__input {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #E8E8E8;
  }

  .form__input:focus {
    border: 1px solid #2BE080;
    ;
  }

  .form__input-error {
    width: 100%;
    padding: 6px 0;
    display: inline-block;
    opacity: 1;
    color: #FF0000;
  }

.form__save-button {
  padding: 14px 0;
  color: #ffffff;
  border-style: none;
  background: #FF6838;
  border-radius: 3px;
  font-size: 18px;
  line-height: 22px;
  transition: opacity .3s ease-in-out;
}

.form__save-button_disabled {
  padding: 16px 0;
  color: #000000;
  background: #ffffff;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.form__bottom-text{
  margin: 0;
  padding: 16px 0 0;
}

.form__bottom-link{
  margin: 0;
  text-decoration: none;
  opacity: 1;
  transition: opacity .5s ease-in-out;
  color: #FF6838;
}

@media screen and (max-width: 768px) {
  .form {
    width: calc( 260px + (396 - 260) * ( (100vw - 320px) / (768 - 320) ));
  }
}

@media screen and (max-width: 425px) {
  .form {
    padding: calc( (100vh - 596px) / 2 ) 0;
  }

  .form__logo{
    align-self: center;
  }

  .form__title{
    margin: 50px 0 80px;
    align-self: center;
  }

  .form__save-button {
    padding: 15px 0;
    font-size: 12px;
    line-height: 15px;
  }

  .form__bottom-text{
    padding-top: 14px;
    font-size: 12px;
    line-height: 15px;
  }
}
