.card {
  box-sizing: border-box;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  background: #FDFDFD;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.card__header {
  padding: 18px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  gap: 14px;
}

.card__title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.card__length {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  color: #A0A0A0;
  white-space: nowrap;
}

.card__image {
  width: 100%;
  aspect-ratio: 9 / 5;
  object-fit: cover;
}

.card__bottom {
  padding: 18px 0;
  text-align: center;
}

.card__button {
  width: 100px;
  padding: 12px 0;
  border-radius: 30px;
  border: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
  background: #F9F9F9;
  color: black;
  cursor: pointer;
}

.card__button_saved {
  color: white;
  background: #ee3465;
}

.card__button:hover {
  padding: 10px 0;
  border: 2px solid #2be080 ;
}

.card__button:active {
  padding: 11px 0;
  opacity: 0.8;
  border: 1px solid #2BE080;
}

@media screen and (max-width: 768px) {
  .card {
    max-width: 342px;
    flex: 1 0 300px;
  }
}

@media screen and (max-width: 425px) {
  .card__header {
    padding: 14px;
  }

  .card__title {
    font-size: 12px;
  }

  .card__length {
    font-size: 10px;
  }

  .card__bottom {
    padding: 14px 0;
  }
}
