.aboutProject {
  padding: 110px 70px;
  display: flex;
  flex-direction: column;
}

.aboutProject__header {
  margin: 0;
  width: 100%;
  padding-bottom: 23px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #000000;
}

.aboutProject__cards {
  padding: 70px 0 110px;
  width: 100%;
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(240px, 1fr));
  gap: 40px;
}

.aboutProject__card {
  display: block;
}

.aboutProject__card-title {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.aboutProject__card-text {
  margin: 0;
  padding-top: 26px;
  font-size: 14px;
  line-height: 20px;
}

.aboutProject__timing {
  width: 100%;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 36px 31px;
}

.aboutProject__cell {
  margin: 0;
  padding: 9px 0;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  white-space: nowrap;
}

.aboutProject__cell_green {
  background-color: #2BE080;
}

.aboutProject__cell_grey {
  background-color: #F2F2F2;
}

.aboutProject__cell_light {
  padding: 14px 0 0;
  font-weight: 500;
  color: #A0A0A0;
}

@media screen and (max-width: 768px) {
  .aboutProject {
    padding: 90px 50px;
  }

  .aboutProject__cards {
    padding-top: 70px 0 93px;
    gap: 30px;
  }

  .aboutProject__card-text {
    padding-top: 22px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 320px) {
  .aboutProject {
    padding: 70px 18px;
  }

  .aboutProject__header {
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 22px;
  }

  .aboutProject__cards {
    padding: 60px 0;
    gap: 56px;
  }

  .aboutProject__card-title {
    font-size: 18px;
    line-height: 22px;
  }

  .aboutProject__card-text {
    padding-top: 16px;
    font-size: 11px;
    line-height: 16px;
  }

  .aboutProject__timing {
    font-size: 11px;
    line-height: 13px;
    grid-template-rows: 35px 23px;
  }
}
