.page-404 {
  padding: 60px 0;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  color: #000;
}

  .page-404__title{
    margin: 0;
    padding: 186px 0 0;
    font-weight: 400;
    font-size: 140px;
    line-height: 170px;
  }

  .page-404__text{
    margin: 5px 0 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
    line-height: 19px;
  }

  .page-404__link{
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    opacity: 1;
    transition: opacity .5s ease-in-out;
    color: #FF6838;
  }

  @media screen and (max-width: 768px) {
    .page-404 {
      padding: 222px 0;
    }

    .page-404__title{
      font-size: calc(80px + (140 - 80) * ( (100vw - 320px) / (768 - 320) ));
      line-height: calc(97px + (170 - 97) * ( (100vw - 320px) / (768 - 320) ));
    }

    .page-404__text{
      font-size: calc(12px + (16 - 12) * ( (100vw - 320px) / (768 - 320) ));
      line-height: calc(15px + (19 - 15) * ( (100vw - 320px) / (768 - 320) ));
    }

    .page-404__link{
      font-size: calc(12px + (14 - 12) * ( (100vw - 320px) / (768 - 320) ));
      line-height: calc(15px + (17 - 15) * ( (100vw - 320px) / (768 - 320) ));
    }
  }

  @media screen and (max-width: 320px) {
    .page-404 {
      padding: 30px 0;
    }

    .page-404__title{
      padding: 299px 0 0;
  }
  }
