.root {
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
  max-width: 1280px;
}

.root__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  background: #fff;
  position: relative;
  box-sizing: border-box;
}

