.navBar {
  padding: 0;
  margin: 0;
  display: flex;
  width: min-content;
  list-style-type: none;
  gap: 20px;
}

.navBar__link{
  text-decoration: none;
  color: black;
  transition: opacity .3s ease-in-out;
}

.navBar__link_active{
  font-weight: 500;
  text-decoration: underline;
}

.navBar li{
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

