.cardList {
  padding: 80px 0 10px;
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(342px, 1fr));
  gap: 32px 28px;
  justify-content: center;
  justify-items: center;
}

.cardList__addCards {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0 80px;
  box-sizing: border-box;
}

.cardList__button {
  width: 100%;
  max-width: 320px;
  padding: 10px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  border: 1.5px solid #E8E8E8;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

.cardList__button:hover {
  padding: 10px 0;
  border: 2px solid #2be080 ;
}

.cardList__button:active {
  padding: 11px 0;
  opacity: 0.8;
  border: 1px solid #2BE080;
}

@media screen and (max-width: 1024px) {
  .cardList {
    gap: 35px 24px;
    padding: 70px 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .cardList {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    padding: 50px 0 30px;
  }

  .cardList__addCards {
    padding: 50px 30px 80px;
  }
}

