
.promo {
  padding: 0 70px;
  background: #465DFF;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.promo__title {
  margin: 0;
  padding-top: 50px;
  width: 626px;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  align-self: flex-start;
}

.promo__pic {
  padding: 102px 0 60px;
  width: 722px;
}
