.search {
  padding: 80px 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 167px;
  gap: 41px;
  border-bottom: 1px solid rgb(170, 170, 170, 0.2);
}

.search__form {
  display: flex;
  border: 1.5px solid rgb(170, 170, 170, 0.2);
  border-radius: 50px;
  justify-content: space-between;
  gap: 14px;
}

.search__input:focus-visible {
  border: 1px solid #2be080;
}

.search__input {
  padding: 14px 0;
  width: calc(100% - 100px);
  position: relative;
  left: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border: none;
  color: #a0a0a0;
}

.search__input:focus-visible {
  outline: none;
}

.search__input::placeholder {
  color: #A0A0A0;
}

.search__button {
  margin: 7px;
  padding: 7px;
  width: 59px;
  box-sizing: border-box;
  background: #FF6838;
  border-radius: 48px;
  border: none;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
  cursor: pointer;
}

.search__button:hover {
  padding: 5px;
  border: 1px solid #2be080 ;
}

.search__button:focus {
  padding: 5px;
  border: 1px solid #2be080 ;
}

.search__button:active {
  padding: 4px;
  opacity: 0.8;
  border: 2px solid #2BE080;
}

@media screen and (max-width: 768px) {
  .search {
    padding: 60px 0;
    grid-template-columns: auto;
    gap: 38px;
  }
}

@media screen and (max-width: 425px) {
  .search {
    padding-bottom: 44px;
  }
}

